<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088200963242-3k89201i6om0cm0039gi897abblib0pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088200963242-3k89201i6om0cm0039gi897abblib0pv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088200963242-ln1eq4g9bavl460fr49e14u5mrrgpan9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWboetNwBXXWSL1E5USReOvlo2Eo96PEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1088200963242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aplanetbit.mario</string>
	<key>PROJECT_ID</key>
	<string>mario-6043e</string>
	<key>STORAGE_BUCKET</key>
	<string>mario-6043e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088200963242:ios:c1797a18fd812ba94c0cd3</string>
</dict>
</plist>